.SearchBar {
  display: grid;
  align-items: center;
  width: 80vw;
  overflow: hidden;
  border-radius: var(--border-radius-sm);
}

.SearchBar input {
  grid-column: 1;
  grid-row: 1;
  padding: 0.5rem;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid var(--color-text);
  transition: var(--transition-01);
}

.SearchBar input:-webkit-autofill,
.SearchBar input:-webkit-autofill:hover,
.SearchBar input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--color-text);
}

.SearchBar input:focus {
  outline: none;
  border-bottom: 2px solid var(--color-green);
}

.SearchBar img {
  height: 20px;
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  cursor: pointer;
}
