.Logout {
  border: 0;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: var(--border-radius-lg);
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition-01);
}

.Logout:hover {
  color: var(--color-red);
}

.header {
  margin-left: auto;
}
