.AlbumCard {
  width: calc(25% - 20px);
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.albumGrid {
  display: grid;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

.imgContainer {
  width: 100%;
  overflow: hidden;
  grid-column: 1;
  grid-row: 1;
}

.imgContainer img {
  width: 100%;
}

.preview {
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  display: block;
  background-color: var(--color-green);
  padding: 0.5rem;
  font-weight: bold;
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-lg);
  text-align: center;
  text-decoration: none;
  transition: var(--transition-01);
}

.preview:hover {
  background-color: var(--color-bright-green);
}

.main {
  background-color: var(--color-fade);
  box-shadow: var(--shadow);
  padding: 1rem 0.5rem;
  border-radius: var(--border-radius-md);
}

.name {
  margin: 0;
}

.AlbumCard p {
  font-size: 0.8rem;
}

.artists {
  font-weight: 500;
  color: var(--color-green);
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .AlbumCard {
    width: calc(33.33% - 20px);
    margin: 10px;
  }
}

@media (max-width: 600px) {
  .AlbumCard {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .AlbumCard {
    width: calc(100% - 20px);
    margin: 10px;
  }
}
