.LoginPage {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  min-width: 300px;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-md);
  background: var(--color-fade);
}

.welcome {
  text-align: center;
}

.welcome span {
  font-size: 3rem;
  display: block;
}
