.searchBox {
  padding: 1rem;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-lg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-fade);
  position: sticky;
  top: 20px;
  z-index: 100;
}

.searchText {
  margin-left: 10px;
  font-weight: bold;
  color: var(--color-gray);
}

.searchText span {
  display: block;
  font-size: 4rem;
  margin-bottom: 10px;
  color: var(--color-text);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.footer h4 {
  color: var(--color-gray);
}

@media (max-width: 480px) {
  .searchText {
    font-size: 0.85rem;
  }

  .searchText span {
    font-size: 3rem;
  }
}
